{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "transform-class-properties",
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathPrefix": "@assets",
            "rootPathSuffix": "Autocart/Frontend/assets"
          },
          {
            "rootPathPrefix": "@src",
            "rootPathSuffix": "Autocart/Frontend/src"
          }
        ]
      }
    ]
  ]
}
